<div class="outer-wrapper" [ngClass]="{'numbers-row': unit.answerType === 'number' && unit.layout == 'row'}">
    @if (unit.instructionText) {
        <p class="instruction-text">{{ unit.instructionText }}</p>
    }
    <div class="inner-wrapper" [ngClass]="innerWrapperClasses">
        <div class="question"
             [style.height.%]="unit.layout == 'column' && unit.questionSpaceRatio"
             [style.width.%]="unit.layout == 'row' && unit.questionSpaceRatio">
            @if (unit.questionType === 'text') {
                <p>{{ question.text }}</p>
            }
            @if (unit.questionType === 'image') {
                <figure class="text-image-wrapper">
                    <img *ngIf="question.src" [src]="question.src" [alt]="question.text">
                    @if (question.text) {
                        <figcaption>{{ question.text }}</figcaption>
                    }
                </figure>
            }
            @if (unit.questionType === 'audio') {
                <div>
                    <audio #audioElement [src]=question.src
                           (play)="isAudioActive = true" (ended)="isAudioActive = false"></audio>
                    <button class="audio-button large-audio-button" [class.in-progress]="isAudioActive"
                            [disabled]="isAudioActive" (click)="audioElement.play();">
                      <img src="assets/audio-icon.svg" alt="audio-icon">
                    </button>
                    <p>{{ question.text }}</p>
                </div>
            }
            @if (unit.questionType === 'word-select') {
                <p>
                    @if (question.src !== undefined) {
                      <audio #audioElement [src]=question.src
                             (play)="isAudioActive = true" (ended)="isAudioActive = false"></audio>
                      <button class="audio-button" [class.in-progress]="isAudioActive"
                              [disabled]="isAudioActive" (click)="audioElement.play();">
                        <img src="assets/audio-icon.svg" alt="audio-icon">
                      </button>
                    }
                    @for (word of textParts; track $index) {
                        <span [class.selected]="word.wordIndex !== undefined && selectedAnswers.includes(word.wordIndex)"
                              (click)="word.isSelectable && onAnswerClick($any(word.wordIndex))">
                            {{ word.text }}
                        </span>
                    }
                </p>
            }
            @if (unit.questionType === 'inline-answers') {
                @if (question.src !== undefined) {
                  <audio #audioElement [src]=question.src
                         (play)="isAudioActive = true" (ended)="isAudioActive = false"></audio>
                  <button class="audio-button" [class.in-progress]="isAudioActive"
                          [disabled]="isAudioActive" (click)="audioElement.play();">
                    <img src="assets/audio-icon.svg" alt="audio-icon">
                  </button>
                }
                <span>{{ textParts[0].text }}</span>
                <div class="inline-answer-buttons">
                    @for (answer of question.answers; let answerIndex = $index; track answerIndex) {
                        <button mat-raised-button [style.background-color]="unit.buttonColor"
                                (click)="onAnswerClick(answerIndex)">
                            {{ answer.text }}
                        </button>
                    }
                </div>
                <span>{{ textParts[1].text }}</span>
            }
        </div>
        @if (unit.questionType !== 'word-select' && unit.questionType !== 'inline-answers') {
            <div class="answers"
                 [style.height.%]="unit.layout == 'column' && unit.questionSpaceRatio && (100 - 3 - unit.questionSpaceRatio)"
                 [style.width.%]="unit.layout == 'row' && unit.questionSpaceRatio && (100 - 3 - unit.questionSpaceRatio)">
                @if (unit.answerType !== 'number') {
                    @for (answer of question.answers; let answerIndex = $index; track answerIndex) {
                        @if (unit.answerType === 'text') {
                            <button mat-raised-button [class.selected]="selectedAnswers.includes(answerIndex)"
                                    [style.background-color]="unit.buttonColor"
                                    [style.width.px]="unit.buttonWidth"
                                    (click)="onAnswerClick(answerIndex)">
                                @if (answer.splitPosition) {
                                    <span class="button-label-1">{{ (answer.text | splitWord: answer.splitPosition)[0] }}</span>
                                    <span class="button-label-2">{{ (answer.text | splitWord: answer.splitPosition)[1] }}</span>
                                } @else {
                                    {{ answer.text }}
                                }
                            </button>
                        } @else if (unit.answerType === 'image') {
                            <img [class.selected]="selectedAnswers.includes(answerIndex)"
                                 [src]="answer.src" (click)="onAnswerClick(answerIndex)">
                        } @else if (unit.answerType === 'audio') {
                            <div class="audio-button-wrapper">
                                <audio #audioRef [id]="'audioElement' + answerIndex" [src]=answer.src
                                       (play)="isAudioActive = true" (ended)="isAudioActive = false"></audio>
                                <button class="audio-button" [class.in-progress]="isAudioActive"
                                        [disabled]="isAudioActive" (click)="playAnswerAudio(answerIndex)">
                                  <img src="assets/audio-icon.svg" alt="audio-icon">
                                </button>
                                <button mat-raised-button [style.background-color]="unit.buttonColor"
                                        [style.width.px]="unit.buttonWidth"
                                        [class.selected]="selectedAnswers.includes(answerIndex)"
                                        (click)="onAnswerClick(answerIndex)">
                                    {{ answer.text }}
                                </button>
                            </div>
                        }
                    }
                } @else {
                    <div class="number-result-box-container">
                        @for (number of numberAnswer; track $index) {
                            <div class="number-result-box" [class.active]="$index === activeNumberIndex"
                                 (click)="selectResultBox($index)">
                                {{ number }}
                            </div>
                        }
                    </div>
               }
            </div>
        }
    </div>
    @if (unit.answerType === 'number') {
        <div class="number-buttons">
            @for (number of mathInputs; track number) {
                <button (click)="enterDigit(number)">
                    {{ number }}
                </button>
            }
            <button class="icon-button" (click)="deleteDigit()">
                <mat-icon>backspace</mat-icon>
            </button>
        </div>
    }
    @if (unit.answerType === 'number' || unit.multipleSelection || unit.questionType === 'word-select') {
        <div class="unit-nav-next">
          <img src="assets/next-unit-icon.svg" alt="next-unit-icon" (click)="onNext()">
        </div>
    }
</div>
