:host {
  height: 100vh;
  width: 100vw;
}

.outer-wrapper {
  height: 100%;
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.numbers-row > * {
    height: unset;
  }
}

.instruction-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2%;
}

.inner-wrapper {
  display: flex;
  height: 100%;
  gap: 3%;
  overflow: hidden;

  &.instruction-present {
    height: 90%;
  }
}

.column {
  &.inner-wrapper {
    flex-direction: column;
  }

  &.inner-wrapper.numbers {
    height: 50%;
    justify-content: end;
  }

  &.inner-wrapper.numbers.image-and-numbers {
    height: 65%;
  }

  &.inner-wrapper.numbers.image-and-numbers .question {
    height: 70%;
  }

  .question {
    text-align: center;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &.text-audio-only .question,
  &.audio .question,
  &.numbers .question,
  &.image-answers .question {
    height: 50%;
  }

  .answers {
    height: 27%;
    width: 100%;
  }

  &.numbers .answers {
    align-items: end;
    height: unset;
  }

  &.image-answers .answers,
  &.audio .answers,
  &.text-audio-only .answers {
    height: 47%;
  }
}

.row {
  &.inner-wrapper {
    flex-direction: row;
  }

  .question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    width: 50%;
  }

  &:not(.text-audio-only):not(.numbers) .question {
    width: 70%;
  }

  &.numbers .question {
    width: 45%;
  }

  &:not(.numbers) .answers {
    flex-direction: column;
    width: 47%;
    align-items: start;
  }

  &:not(.text-audio-only) .answers {
    width: 27%;
  }

  &.numbers .answers {
    width: 47%;
    justify-content: start;
    align-items: center;
  }
}

.question {
  font-size: var(--font-size-base);

  img {
    object-fit: scale-down;
    max-height: 85%;
    max-width: 100%;
  }

  p {
    text-align: center;
    margin: 10px 0 0;
  }

  p span.selected {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
  }

  button {
    font-size: var(--font-size-base);
  }
}

.word-select .question p span {
  display: inline-block;
  cursor: pointer;
}

.word-select .question p button mat-icon {
  height: 20px;
}

.inner-wrapper.inline-answers .question {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inline-answer-buttons {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: inherit;
}

inline-answer-buttons button {
  font-family: inherit;
}

.answers {
  display: flex;
  justify-content: center;
  gap: 30px;

  & button.selected, & img.selected {
    border: 5px solid blueviolet;
  }

  img {
    object-fit: scale-down;
    cursor: pointer;
    overflow: auto;
    max-width: 100%;
  }

  button:not(.image-button):not(.audio-button) {
    font-size: var(--font-size-base);
    padding: 10px 25px;
    height: 80px;
    border-radius: 10px;
  }

  button span.button-label-1 {
    color: #005ab5;
  }

  // Add small space between word parts
  button span.button-label-1::after {
    content: "\202F";
  }

  button span.button-label-2 {
    color: #dc3220;
  }
}

.text-image-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.audio-button-wrapper .audio-button {
  padding: 7px 15px;
}

.audio-button {
  border: none;
  background: transparent;

  &:hover, &.in-progress {
    opacity: 0.5;
  }
}

.question .audio-button {
  align-self: center;
  background-color: transparent;
  border: none;
}

.question .audio-button:not(.large-audio-button) {
  margin-right: 15px;
}

.number-result-box-container {
  display: flex;
  gap: 5px;
  padding: 5px;
  border-bottom: 2px solid black;
}

.number-result-box {
  width: 50px;
  height: 70px;
  border: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.number-result-box.active {
  background-color: #00606425;
}

.number-buttons {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  height: 8%;
  font-family: inherit;
}

.number-buttons button {
  font-size: 25px;
  width: 55px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-family: inherit;
}

.number-buttons .icon-button {
  width: 110px;
  margin-left: 20px;
}

.number-buttons button mat-icon {
  height: 20px;
}

.unit-nav-next {
  align-self: center;
  padding-left: 43%;
  display: flex;
  margin-top: 2%;
  height: 30%;

  .svg-container {
    margin: 5px;

    &:hover {
      filter: brightness(90%);
      cursor: pointer;
    }
  }
}

