<div class="outer-wrapper" [ngClass]="{'numbers-row': unit.answerType === 'number' && unit.layout == 'row'}">
    @if (unit.instructionText) {
        <p class="instruction-text">{{ unit.instructionText }}</p>
    }
    <div class="inner-wrapper" [ngClass]="innerWrapperClasses">
        <div class="question"
             [style.height.%]="unit.layout == 'column' && unit.questionSpaceRatio"
             [style.width.%]="unit.layout == 'row' && unit.questionSpaceRatio">
            @if (unit.questionType === 'text') {
                <p>{{ question.text }}</p>
            }
            @if (unit.questionType === 'image') {
                <figure class="text-image-wrapper">
                    <img *ngIf="question.src" [src]="question.src" [alt]="question.text">
                    @if (question.text) {
                        <figcaption>{{ question.text }}</figcaption>
                    }
                </figure>
            }
            @if (unit.questionType === 'audio') {
                <div>
                    <audio #audioElement [src]=question.src
                           (play)="isAudioActive = true" (ended)="isAudioActive = false"></audio>
                    <button class="audio-button large-audio-button" [class.in-progress]="isAudioActive"
                            [disabled]="isAudioActive" (click)="audioElement.play();">
                      <svg _ngcontent-ng-c3234747999="" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="180px" height="180px" viewBox="0 0 64 64" xml:space="preserve"><g _ngcontent-ng-c3234747999=""><polygon _ngcontent-ng-c3234747999="" fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="27,21 41,32 27,43"></polygon><path _ngcontent-ng-c3234747999="" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M53.92,10.081 c12.107,12.105,12.107,31.732,0,43.838c-12.106,12.108-31.734,
                                       12.108-43.839,0c-12.107-12.105-12.107-31.732,0-43.838 C22.186-2.027,41.813-2.027,
                                       53.92,10.081z"></path></g></svg>
                    </button>
                    <p>{{ question.text }}</p>
                </div>
            }
            @if (unit.questionType === 'word-select') {
                <p>
                    @if (question.src !== undefined) {
                      <audio #audioElement [src]=question.src
                             (play)="isAudioActive = true" (ended)="isAudioActive = false"></audio>
                      <button class="audio-button" [class.in-progress]="isAudioActive"
                              [disabled]="isAudioActive" (click)="audioElement.play();">
                        <mat-icon>play_arrow</mat-icon>
                      </button>
                    }
                    @for (word of textParts; track $index) {
                        <span [class.selected]="word.wordIndex !== undefined && selectedAnswers.includes(word.wordIndex)"
                              (click)="word.isSelectable && onAnswerClick($any(word.wordIndex))">
                            {{ word.text }}
                        </span>
                    }
                </p>
            }
            @if (unit.questionType === 'inline-answers') {
                @if (question.src !== undefined) {
                  <audio #audioElement [src]=question.src
                         (play)="isAudioActive = true" (ended)="isAudioActive = false"></audio>
                  <button class="audio-button" [class.in-progress]="isAudioActive"
                          [disabled]="isAudioActive" (click)="audioElement.play();">
                    <mat-icon>play_arrow</mat-icon>
                  </button>
                }
                <span>{{ textParts[0].text }}</span>
                <div class="inline-answer-buttons">
                    @for (answer of question.answers; let answerIndex = $index; track answerIndex) {
                        <button mat-raised-button [style.background-color]="unit.buttonColor"
                                (click)="onAnswerClick(answerIndex)">
                            {{ answer.text }}
                        </button>
                    }
                </div>
                <span>{{ textParts[1].text }}</span>
            }
        </div>
        @if (unit.questionType !== 'word-select' && unit.questionType !== 'inline-answers') {
            <div class="answers"
                 [style.height.%]="unit.layout == 'column' && unit.questionSpaceRatio && (100 - 3 - unit.questionSpaceRatio)"
                 [style.width.%]="unit.layout == 'row' && unit.questionSpaceRatio && (100 - 3 - unit.questionSpaceRatio)">
                @if (unit.answerType !== 'number') {
                    @for (answer of question.answers; let answerIndex = $index; track answerIndex) {
                        @if (unit.answerType === 'text') {
                            <button mat-raised-button [style.background-color]="unit.buttonColor"
                                    [class.selected]="selectedAnswers.includes(answerIndex)"
                                    (click)="onAnswerClick(answerIndex)">
                                @if (answer.splitPosition) {
                                    <span class="button-label-1">{{ (answer.text | splitWord: answer.splitPosition)[0] }}</span>
                                    <span class="button-label-2">{{ (answer.text | splitWord: answer.splitPosition)[1] }}</span>
                                } @else {
                                    {{ answer.text }}
                                }
                            </button>
                        } @else if (unit.answerType === 'image') {
                            <img [class.selected]="selectedAnswers.includes(answerIndex)"
                                 [src]="answer.src" (click)="onAnswerClick(answerIndex)">
                        } @else if (unit.answerType === 'audio') {
                            <div class="audio-button-wrapper">
                                <audio #audioRef [id]="'audioElement' + answerIndex" [src]=answer.src
                                       (play)="isAudioActive = true" (ended)="isAudioActive = false"></audio>
                                <button class="audio-button" [class.in-progress]="isAudioActive"
                                        [disabled]="isAudioActive" (click)="playAnswerAudio(answerIndex)">
                                        <mat-icon>play_arrow</mat-icon>
                                </button>
                                <button mat-raised-button [style.background-color]="unit.buttonColor"
                                        [class.selected]="selectedAnswers.includes(answerIndex)"
                                        (click)="onAnswerClick(answerIndex)">
                                    {{ answer.text }}
                                </button>
                            </div>
                        }
                    }
                } @else {
                    <div class="number-result-box-container">
                        @for (number of numberAnswer; track $index) {
                            <div class="number-result-box" [class.active]="$index === activeNumberIndex"
                                 (click)="selectResultBox($index)">
                                {{ number }}
                            </div>
                        }
                    </div>
               }
            </div>
        }
    </div>
    @if (unit.answerType === 'number') {
        <div class="number-buttons">
            @for (number of mathInputs; track number) {
                <button (click)="enterDigit(number)">
                    {{ number }}
                </button>
            }
            <button class="icon-button" (click)="deleteDigit()">
                <mat-icon>backspace</mat-icon>
            </button>
        </div>
    }
    @if (unit.answerType === 'number' || unit.multipleSelection || unit.questionType === 'word-select') {
        <div class="unit-nav-next">
            <span class="svg-container" (click)="onNext()">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 100 100">
                <circle cx="50%" cy="50%" r="50" fill="#b3fe5b"/>
                <path d="M 45 35 L 60 50 L 45 65" stroke="black" stroke-width="5" fill="none"/>
            </svg>
          </span>
        </div>
    }
</div>
