:host {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  display: grid;
  justify-content: center;
}

.wrapper.column {
  grid-template-rows: 70vh 30vh;
}

.wrapper.row {
  grid-template-columns: 60vw 30vw;
}

.question {
  justify-content: center;
  font-size: x-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5%;
}

.column .question {
  width: 100vw;
}

.row .question {
  height: 100vh;
}

.question img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.answers {
  justify-content: center;
  gap: 30px;
}

.column .answers {
  display: flex;
  width: 100vw;
}

.row .answers {
  display: grid;
  align-content: center;
  padding: 5%;
  box-sizing: border-box;
}

.answers button {
  font-size: larger;
  padding: 10px 25px;
  height: fit-content;
  justify-content: start;
}
