:host {
  height: 100%;
  width: 100%;
}

.outer-wrapper {
  height: 100vh;
  width: 100vw;
  padding: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ### INTRO ### */

.instruction-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2%;
}

/* ### INNER ### */

.inner-wrapper {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.inner-wrapper.instruction-present {
  max-height: 95%;
}

.inner-wrapper.numbers {
  max-height: 63%;
}

.inner-wrapper.column {
  flex-direction: column;
}
.inner-wrapper.row {
  flex-direction: row;
}

/* ### QUESTION ### */

.question {
  font-size: x-large;
}

.column .question {
  max-height: 75%;
  text-align: center;
  margin-bottom: 3%;
}

.column.answer-image-present .question {
  max-height: 49%;
}

.column.answer-image-present.instruction-present .question {
  max-height: 46%;
}

.row .question {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 3%;
}

.question img {
  object-fit: scale-down;
  max-height: 90%;
  max-width: 100%;
}

.question p {
  text-align: center;
  margin: 10px 0 0;
}

/* ### ANSWERS ### */
.answers {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.column .answers {
  max-height: 75%;
}

.column.question-image-present .answers {
  max-height: 49%;
}

.column.question-image-present.instruction-present .answers {
  max-height: 46%;
}

.row:not(.numbers) .answers {
  flex-direction: column;
}

.numbers .answers {
  align-items: center;
}

.answers button:not(.image-button) {
  font-size: larger;
  padding: 10px 25px;
}

.answers img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.audio-button.in-progress {
  opacity: 0.5;
}

.number-result-box {
  width: 50px;
  height: 70px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.number-result-box.active {
  background-color: #00606425;
}

.number-buttons {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.number-buttons button {
  font-size: larger;
  width: 45px;
  height: 40px;
  cursor: pointer;
}

.number-buttons .backspace-button {
  border: none;
  background-color: unset;
  width: 55px;
  height: 40px;
}

.number-buttons .backspace-button:hover {
  background-color: lightgrey;
}

.unit-nav-next {
  align-self: end;
  margin-right: 15%;
  display: flex;
  align-items: center;
}

.unit-nav-next .svg-container {
  margin: 5px;
}

.unit-nav-next .svg-container:hover {
  filter: brightness(90%);
  cursor: pointer;
}
