<div [style]="'display: flex; flex-direction: row;'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Frage- Antworttypen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
            <mat-label>Stimulustyp</mat-label>
            <mat-select required [(ngModel)]="unit.questionType"
                        (ngModelChange)="updateRatioDeault(); unitService.updateUnitDef()">
                <mat-option value="text">Text</mat-option>
                <mat-option value="image">Bild</mat-option>
                <mat-option value="audio">Audio</mat-option>
                <mat-option value="word-select">Wörter auswählen</mat-option>
                <mat-option value="inline-answers">Inline-Antworten</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Antworttyp</mat-label>
            <mat-select required
                        [disabled]="unit.questionType === 'inline-answers' || unit.questionType === 'word-select'"
                        [(ngModel)]="unit.answerType"
                        (ngModelChange)="updateRatioDeault(); unitService.updateUnitDef()">
                <mat-option value="text">Text</mat-option>
                <mat-option value="image">Bild</mat-option>
                <mat-option value="audio">Audio</mat-option>
                <mat-option value="number">Zahl</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox [ngModel]="unit.multipleSelection"
                      [disabled]="unit.questionType === 'inline-answers' ||
                                  unit.answerType == 'number' ||
                                  unit.questionType === 'word-select'"
                      (ngModelChange)="onToggleMultiselect()">
            Mehrfachauswahl
        </mat-checkbox>
        <mat-form-field>
            <mat-label>Instruktionstext</mat-label>
            <textarea matInput [(ngModel)]="unit.instructionText" (ngModelChange)="unitService.updateUnitDef()">
            </textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="styling-settings-card">
      <mat-card-header>
        <mat-card-title>Ausrichtung & Gestaltung</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <label>Ausrichtung Frage- Antwortbereich</label>
        <mat-radio-group [disabled]="unit.questionType === 'inline-answers' || unit.questionType === 'word-select'"
                         [(ngModel)]="unit.layout" (ngModelChange)="unitService.updateUnitDef()">
          <mat-radio-button value="column">Vertikal</mat-radio-button>
          <mat-radio-button value="row">Horizontal</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
          <mat-label>Größenanteil Fragebereich</mat-label>
          <input matInput [type]="'number'"
                 [placeholder]="'Standardwert: ' + activeRatioDefault"
                 [disabled]="unit.questionType === 'inline-answers' || unit.questionType === 'word-select'"
                 [(ngModel)]="unit.questionSpaceRatio"
                 (ngModelChange)="unitService.updateUnitDef()">
        </mat-form-field>

        <label [style.margin-top.px]="5" [style.margin-bottom.px]="3">Antwortknopffarbe</label>
        <input matInput type="color" [disabled]="unit.answerType === 'image' ||
                                                 unit.answerType === 'number' ||
                                                 unit.questionType === 'word-select'"
               [(ngModel)]="unit.buttonColor"
               (change)="unitService.updateUnitDef()">
      </mat-card-content>
    </mat-card>

  <mat-card class="csv-import-card">
    <mat-card-header>
      <mat-card-title>CSV-Import</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Hier können Fragen und Antworten importiert werden.</p>
      <ul [style.margin-top]="0">
        <li>Trennzeichen: Semikolon</li>
        <li>Funktioniert nur für Texte - Bilder oder Audios werden nicht unterstützt.</li>
        <li>Ausgewählter Frage- und Antworttyp ist entscheidend für das korrekte Einlesen.</li>
        <li>Spalten werden über Kopfzeile identifiziert. Valide Werte sind:
        <ul>
          <li>frage</li>
          <li>loesung</li>
          <li>antwort_#</li>
          <li>teilungsposition_#</li>
          <li>antwortpositionsindex</li>
        </ul>
      </ul>
      <button mat-raised-button class="csv-import-button" (click)="upload.click()">
        Datei hochladen
        <mat-icon>file_upload</mat-icon>
      </button>
      <input type="file" hidden accept=".csv" #upload
             (change)="onLoadCSVClick($event)">
    </mat-card-content>
  </mat-card>
</div>

<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let question of unit.questions; let questionIndex = index"
                         [expanded]="questionIndex == latestQuestionIndex">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>{{ questionIndex + 1 }}: {{ question.text }}</h2>
                <img *ngIf="unit.questionType === 'image'" [src]="question.src" [alt]="question.text">
                <button mat-fab class="question-delete-button" color="warn" [matTooltip]="'Frage löschen'"
                        (click)="deleteQuestion(questionIndex)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="expansion-panel-content">
            <div class="question">
                <div class="text-button-panel">
                    <h4>Text</h4>
                    <button mat-icon-button [matTooltip]="'Text für alle Fragen übernehmen'"
                            [matTooltipPosition]="'above'"
                            (click)="setQuestionTextForAll(question.text)">
                        <mat-icon>copy_all</mat-icon>
                    </button>
                </div>
                <div class="question-content">
                    <mat-form-field>
                        <mat-label>Frage</mat-label>
                        <input matInput [(ngModel)]="question.text"
                               (change)="unitService.updateUnitDef()">
                    </mat-form-field>
                </div>
                @if (unit.questionType === 'inline-answers') {
                    <mat-form-field>
                        <mat-label>Antwortpositionsindex</mat-label>
                        <input matInput [(ngModel)]="question.answerPosition"
                               (change)="unitService.updateUnitDef()">
                    </mat-form-field>
                }
                @if (unit.questionType === 'image') {
                    <h4>Bild</h4>
                    <div class="image-panel">
                        <div class="image-panel-buttons">
                            <button mat-icon-button [matTooltip]="'Bild hinzufügen'" (click)="imageUpload.click();">
                                <mat-icon>image</mat-icon>
                            </button>
                            <input type="file" hidden accept="image/*" #imageUpload
                                   (change)="loadQuestionSrc(questionIndex, $event.target)">
                            <button *ngIf="question.src" mat-icon-button [matTooltip]="'Bild entfernen'"
                                    (click)="removeQuestionSrc(questionIndex);">
                                <mat-icon>backspace</mat-icon>
                            </button>
                        </div>
                        <img *ngIf="question.src" [src]="question.src" [alt]="question.text">
                    </div>
                }
                @if (unit.questionType === 'audio' || unit.questionType === 'word-select' || unit.questionType === 'inline-answers') {
                    <h4>Audio</h4>
                    <audio *ngIf="question.src" controls [src]=question.src></audio>
                    <button mat-icon-button [matTooltip]="'Audio hinzufügen/ändern'" (click)="audioUpload.click();">
                        <mat-icon>volume_up</mat-icon>
                    </button>
                    <input type="file" hidden accept="audio/*" #audioUpload
                           (change)="loadQuestionSrc(questionIndex, $event.target)">
                    <button *ngIf="question.src" mat-icon-button [matTooltip]="'Audio entfernen'"
                            (click)="removeQuestionSrc(questionIndex);">
                        <mat-icon>backspace</mat-icon>
                    </button>
                }
            </div>

            <div class="text-button-panel">
                <h3>Antworten</h3>
                <button mat-icon-button [matTooltip]="'Antworten für alle Fragen übernehmen'"
                        [matTooltipPosition]="'above'"
                        (click)="setAnswersForAll(unit.questions[questionIndex].answers)">
                    <mat-icon>copy_all</mat-icon>
                </button>
            </div>

            <speedtest-answer-panel [answers]="unit.questions[questionIndex].answers" [questionIndex]="questionIndex">
            </speedtest-answer-panel>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button class="add-button" [matTooltip]="'Frage hinzu'" (click)="addQuestion()">
    Neue Frage
    <mat-icon>add</mat-icon>
</button>
