:host {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.csv-import-button {
  align-self: start;
}

mat-card {
  width: 350px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.styling-settings-card mat-card-content {
  gap: 15px;
}

mat-card.csv-import-card {
  width: 550px;
}

.add-button {
  align-self: center;
  width: 40%;
  background-color: lightgray !important;
}

.expansion-panel-content .add-button {
  width: 30%;
  margin-top: 20px;
}

.mat-expansion-panel-header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-expansion-panel-header-title h2 {
  min-height: 0;
}

.mat-expansion-panel-header-title img {
  margin-left: 15px;
  height: 40px;
}

.text-button-panel {
  display: flex;
  flex-direction: row;
}

.question-delete-button {
  margin-left: auto;
  box-shadow: none;
  color: #f44336;
}

.expansion-panel-content {
  display: flex;
  flex-direction: column;
}

.question {
  display: flex;
  flex-direction: column;
}

.question-content {
  display: flex;
  flex-direction: row;
}

.image-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-panel-buttons {
  display: flex;
  flex-direction: row;
}

.image-panel img {
  max-height: 200px;
  object-fit: contain;
}

.question mat-form-field {
  width: 80%;
}
