<div [style]="'display: flex; flex-direction: row;'">
    <fieldset class="global-settings-fieldset">
        <legend>Globale Einstellungen</legend>
        <mat-form-field>
            <mat-label>Stimulustyp</mat-label>
            <mat-select required [(ngModel)]="unit.questionType"
                        (ngModelChange)="updateRatioDeault(); unitService.updateUnitDef()">
                <mat-option value="text">Text</mat-option>
                <mat-option value="image">Bild</mat-option>
                <mat-option value="audio">Audio</mat-option>
                <mat-option value="word-select">Wörter auswählen</mat-option>
                <mat-option value="inline-answers">Inline-Antworten</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Antworttyp</mat-label>
            <mat-select required
                        [disabled]="unit.questionType === 'inline-answers' || unit.questionType === 'word-select'"
                        [(ngModel)]="unit.answerType"
                        (ngModelChange)="updateRatioDeault(); unitService.updateUnitDef()">
                <mat-option value="text">Text</mat-option>
                <mat-option value="image">Bild</mat-option>
                <mat-option value="audio">Audio</mat-option>
                <mat-option value="number">Zahl</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="unit.multipleSelection"
                      [disabled]="unit.questionType === 'inline-answers' ||
                                  unit.answerType == 'number' ||
                                  unit.questionType === 'word-select'">
            Mehrfachauswahl
        </mat-checkbox>

        <mat-form-field>
            <mat-label>Instruktionstext</mat-label>
            <textarea matInput [(ngModel)]="unit.instructionText" (ngModelChange)="unitService.updateUnitDef()">
            </textarea>
        </mat-form-field>

        <label>Ausrichtung Frage- Antwortbereich</label>
        <mat-radio-group [disabled]="unit.questionType === 'inline-answers' || unit.questionType === 'word-select'"
                         [(ngModel)]="unit.layout" (ngModelChange)="unitService.updateUnitDef()">
            <mat-radio-button value="column">Vertikal</mat-radio-button>
            <mat-radio-button value="row">Horizontal</mat-radio-button>
        </mat-radio-group>


        <mat-form-field>
            <mat-label>Größenanteil Fragebereich</mat-label>
            <input matInput [type]="'number'"
                   [placeholder]="'Standardwert: ' + activeRatioDefault"
                   [disabled]="unit.questionType === 'inline-answers' || unit.questionType === 'word-select'"
                   [(ngModel)]="unit.questionSpaceRatio"
                   (ngModelChange)="unitService.updateUnitDef()">
        </mat-form-field>

        <label [style.margin-top.px]="5" [style.margin-bottom.px]="3">Antwortknopffarbe</label>
        <input matInput type="color" [disabled]="unit.answerType !== 'text' || unit.questionType === 'word-select'"
               [(ngModel)]="unit.buttonColor"
               (change)="unitService.updateUnitDef()">

        <button mat-raised-button [style.margin-top.px]="10" (click)="csvImportVisible = true">
            CSV Import
            <mat-icon>upload_file</mat-icon>
        </button>
    </fieldset>

    <fieldset [style.visibility]="unitService.missingCorrectAnswerIndeces.length == 0 ? 'hidden' : 'visible'">
        <legend>Warnung</legend>
        <p>Antwortdefinition unvollständig. Es fehlen Antworten für mindestens folgende Fragen:</p>
        <ul>
            <li *ngFor="let questionIndex of unitService.missingCorrectAnswerIndeces | slice: 0 : 5"
                [style.color]="'red'">
                Frageindex: {{ questionIndex + 1 }}
            </li>
        </ul>
    </fieldset>
</div>

@if (csvImportVisible) {
    <fieldset class="global-settings-fieldset">
        <legend>CSV Import</legend>
        <p>Hier können Fragen und Antworten importiert werden.</p>
        <ul [style.margin-top]="0">
            <li>Trennzeichen: Semikolon</li>
            <li>Funktioniert nur für Texte - Bilder oder Audios werden nicht unterstützt.</li>
            <li>Ausgewählter Frage- und Antworttyp ist entscheidend für das korrekte Einlesen.</li>
            <li>Spalten werden über Kopfzeile identifiziert. Valide Werte sind: "frage", "loesung" und "antwort_#"</li>
        </ul>
        <button mat-raised-button class="csv-import-button" (click)="upload.click()">
            Datei hochladen
            <mat-icon>file_upload</mat-icon>
        </button>
        <input type="file" hidden accept=".csv" #upload
               (change)="onLoadCSVClick($event)">
        @if (csvError) {
            <p [style.color]="'red'">{{ csvError }}</p>
        }
    </fieldset>
}

<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let question of unit.questions; let questionIndex = index"
                         [expanded]="questionIndex == latestQuestionIndex">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>{{ questionIndex + 1 }}: {{ question.text }}</h2>
                <img *ngIf="unit.questionType === 'image'" [src]="question.src" [alt]="question.text">
                <button mat-fab class="question-delete-button" color="warn" [matTooltip]="'Frage löschen'"
                        (click)="deleteQuestion(questionIndex)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="expansion-panel-content">
            <div class="question">
                <div class="text-button-panel">
                    <h4>Text</h4>
                    <button mat-icon-button [matTooltip]="'Text für alle Fragen übernehmen'"
                            [matTooltipPosition]="'above'"
                            (click)="setQuestionTextForAll(question.text)">
                        <mat-icon>copy_all</mat-icon>
                    </button>
                </div>
                <div class="question-content">
                    <mat-form-field>
                        <mat-label>Frage</mat-label>
                        <input matInput [(ngModel)]="question.text"
                               (change)="unitService.updateUnitDef()">
                    </mat-form-field>
                </div>
                @if (unit.questionType === 'inline-answers') {
                    <mat-form-field>
                        <mat-label>Antwortpositionsindex</mat-label>
                        <input matInput [(ngModel)]="question.answerPosition"
                               (change)="unitService.updateUnitDef()">
                    </mat-form-field>
                }
                @if (unit.questionType === 'image') {
                    <h4>Bild</h4>
                    <div class="image-panel">
                        <div class="image-panel-buttons">
                            <button mat-icon-button [matTooltip]="'Bild hinzufügen'" (click)="imageUpload.click();">
                                <mat-icon>image</mat-icon>
                            </button>
                            <input type="file" hidden accept="image/*" #imageUpload
                                   (change)="loadQuestionSrc(questionIndex, $event.target)">
                            <button *ngIf="question.src" mat-icon-button [matTooltip]="'Bild entfernen'"
                                    (click)="removeQuestionSrc(questionIndex);">
                                <mat-icon>backspace</mat-icon>
                            </button>
                        </div>
                        <img *ngIf="question.src" [src]="question.src" [alt]="question.text">
                    </div>
                }
                @if (unit.questionType === 'audio' || unit.questionType === 'word-select') {
                    <h4>Audio</h4>
                    <audio *ngIf="question.src" controls [src]=question.src></audio>
                    <button mat-icon-button [matTooltip]="'Audio hinzufügen/ändern'" (click)="audioUpload.click();">
                        <mat-icon>volume_up</mat-icon>
                    </button>
                    <input type="file" hidden accept="audio/*" #audioUpload
                           (change)="loadQuestionSrc(questionIndex, $event.target)">
                    <button *ngIf="question.src" mat-icon-button [matTooltip]="'Audio entfernen'"
                            (click)="removeQuestionSrc(questionIndex);">
                        <mat-icon>backspace</mat-icon>
                    </button>
                }
            </div>

            <div class="text-button-panel">
                <h3>Antworten</h3>
                <button mat-icon-button [matTooltip]="'Antworten für alle Fragen übernehmen'"
                        [matTooltipPosition]="'above'"
                        (click)="setAnswersForAll(unit.questions[questionIndex].answers)">
                    <mat-icon>copy_all</mat-icon>
                </button>
            </div>

            <speedtest-answer-panel [answers]="unit.questions[questionIndex].answers" [questionIndex]="questionIndex">
            </speedtest-answer-panel>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button class="add-button" [matTooltip]="'Frage hinzu'" (click)="addQuestion()">
    Neue Frage
    <mat-icon>add</mat-icon>
</button>
