<div [style]="'display: flex; flex-direction: row;'">
    <fieldset class="global-settings-fieldset">
        <legend>Globale Einstellungen</legend>
        <mat-form-field>
            <mat-label>Stimulustyp</mat-label>
            <mat-select required [(ngModel)]="unit.questionType"
                        (ngModelChange)="updateRatioDeault(); unitService.updateUnitDef()">
                <mat-option value="text">Text</mat-option>
                <mat-option value="image">Bild</mat-option>
                <mat-option value="audio">Audio</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Antworttyp</mat-label>
            <mat-select required [(ngModel)]="unit.answerType"
                        (ngModelChange)="updateRatioDeault(); unitService.updateUnitDef()">
                <mat-option value="text">Text</mat-option>
                <mat-option value="image">Bild</mat-option>
                <mat-option value="number">Zahl</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Instruktionstext</mat-label>
            <input matInput [(ngModel)]="unit.instructionText" (ngModelChange)="unitService.updateUnitDef()">
        </mat-form-field>

        <label>
            Ausrichtung
            <mat-button-toggle-group [(ngModel)]="unit.layout" (ngModelChange)="unitService.updateUnitDef()">
                <mat-button-toggle value="column">Vertikal</mat-button-toggle>
                <mat-button-toggle value="row">Horizontal</mat-button-toggle>
            </mat-button-toggle-group>
        </label>

        Größenanteil Fragebereich
        <mat-form-field>
            <mat-label>Standardwert: {{ activeRatioDefault }}</mat-label>
            <input matInput [type]="'number'" [(ngModel)]="unit.questionSpaceRatio"
                   (ngModelChange)="unitService.updateUnitDef()">
        </mat-form-field>

        <label [style.margin-top.px]="5" [style.margin-bottom.px]="3"
               [style.opacity]="unit.answerType !== 'text' ? 0.5 : 1">
            Knopffarbe bei Textantworten
            <input matInput type="color" [disabled]="unit.answerType !== 'text'" [(ngModel)]="unit.buttonColor"
                   (change)="unitService.updateUnitDef()">
        </label>

        <button mat-raised-button [style.margin-top.px]="10" (click)="csvImportVisible = true">
            CSV Import
            <mat-icon>upload_file</mat-icon>
        </button>
    </fieldset>

    <fieldset [style.visibility]="unitService.missingCorrectAnswerIndeces.length == 0 ? 'hidden' : 'visible'">
        <legend>Warnung</legend>
        <p>Antwortdefinition unvollständig. Es fehlen Antworten für mindestens folgende Fragen:</p>
        <ul>
            <li *ngFor="let questionIndex of unitService.missingCorrectAnswerIndeces | slice: 0 : 5"
                [style.color]="'red'">
                Frageindex: {{ questionIndex + 1 }}
            </li>
        </ul>
    </fieldset>
</div>

@if (csvImportVisible) {
    <fieldset class="global-settings-fieldset">
        <legend>CSV Import</legend>
        <p>Hier können Fragen und Antworten importiert werden.</p>
        <ul [style.margin-top]="0">
            <li>Trennzeichen: Semikolon</li>
            <li>Funktioniert nur für Texte - Bilder oder Audios werden nicht unterstützt.</li>
            <li>Für Zahlenaufgaben zuerst den entsprechenden Antworttyp auswählen</li>
        </ul>
        Spalten
        <ul [style.margin-top]="0">
            <li>Spalte 1: Fragetext</li>
            <li>Spalte 2: Index der korrekten Antwort, beginnend bei 0!</li>
            <li>weitere Spalten: Antworttexte</li>
        </ul>
        <p [style.margin-top]="0">
            Falls Spalte 2 keine Zahl enthält, wird der Inhalt als erste Antwortspalte interpretiert und keine korrekte
            Antwort gesetzt.
        </p>
        <button mat-raised-button class="csv-import-button" (click)="upload.click()">
            Datei hochladen
            <mat-icon>file_upload</mat-icon>
        </button>
        <input type="file" hidden accept=".csv" #upload
               (change)="loadCSV($event)">
    </fieldset>
}

<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let question of unit.questions; let questionIndex = index"
                         [expanded]="questionIndex == latestQuestionIndex">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>{{ questionIndex + 1 }}: {{ question.text }}</h2>
                <img *ngIf="unit.questionType === 'image'" [src]="question.src" [alt]="question.text">
                <button mat-fab class="question-delete-button" color="warn" [matTooltip]="'Frage löschen'"
                        (click)="deleteQuestion(questionIndex)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="expansion-panel-content">
            <div class="question">
                <div class="text-button-panel">
                    <h4>Text</h4>
                    <button mat-icon-button [matTooltip]="'Text für alle Fragen übernehmen'"
                            [matTooltipPosition]="'above'"
                            (click)="setQuestionTextForAll(question.text)">
                        <mat-icon>copy_all</mat-icon>
                    </button>
                </div>
                <div class="question-content">
                    <mat-form-field>
                        <mat-label>Frage</mat-label>
                        <input matInput #questionText [(ngModel)]="question.text"
                               (change)="unitService.updateUnitDef()">
                    </mat-form-field>
                </div>
                @if (unit.questionType === 'image') {
                    <h4>Bild</h4>
                    <div class="image-panel">
                        <div class="image-panel-buttons">
                            <button mat-icon-button [matTooltip]="'Bild hinzufügen'" (click)="imageUpload.click();">
                                <mat-icon>image</mat-icon>
                            </button>
                            <input type="file" hidden accept="image/*" #imageUpload
                                   (change)="loadQuestionSrc(questionIndex, $event.target)">
                            <button *ngIf="question.src" mat-icon-button [matTooltip]="'Bild entfernen'"
                                    (click)="removeQuestionSrc(questionIndex);">
                                <mat-icon>backspace</mat-icon>
                            </button>
                        </div>
                        <img *ngIf="question.src" [src]="question.src" [alt]="question.text">
                    </div>
                }
                @if (unit.questionType === 'audio') {
                    <h4>Audio</h4>
                    <audio *ngIf="question.src" controls [src]=question.src></audio>
                    <button mat-icon-button [matTooltip]="'Audio hinzufügen/ändern'" (click)="audioUpload.click();">
                        <mat-icon>volume_up</mat-icon>
                    </button>
                    <input type="file" hidden accept="audio/*" #audioUpload
                           (change)="loadQuestionSrc(questionIndex, $event.target)">
                    <button *ngIf="question.src" mat-icon-button [matTooltip]="'Audio entfernen'"
                            (click)="removeQuestionSrc(questionIndex);">
                        <mat-icon>backspace</mat-icon>
                    </button>
                }
            </div>

            <div class="text-button-panel">
                <h3>Antworten</h3>
                <button mat-icon-button [matTooltip]="'Antworten für alle Fragen übernehmen'"
                        [matTooltipPosition]="'above'"
                        (click)="setAnswersForAll(unit.questions[questionIndex].answers)">
                    <mat-icon>copy_all</mat-icon>
                </button>
            </div>

            <speedtest-answer-panel [answers]="unit.questions[questionIndex].answers" [questionIndex]="questionIndex">
            </speedtest-answer-panel>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button class="add-button" [matTooltip]="'Frage hinzu'" (click)="addQuestion()">
    Neue Frage
    <mat-icon>add</mat-icon>
</button>
