<button mat-raised-button class="csv-import-button" (click)="upload.click()">
  CSV Import
  <mat-icon>file_upload</mat-icon>
</button>
<input type="file" hidden accept=".csv" #upload
       (change)="loadCSV($event)">

<fieldset>
  <legend>Globale Einstellungen</legend>
  Ausrichtung
  <mat-button-toggle-group [(ngModel)]="unit.layout" (change)="unitService.updateUnitDef()">
    <mat-button-toggle value="column">Vertikal</mat-button-toggle>
    <mat-button-toggle value="row">Horizontal</mat-button-toggle>
  </mat-button-toggle-group>
  Knopffarbe
  <input matInput type="color" [(ngModel)]="unit.buttonColor" (change)="unitService.updateUnitDef()">
</fieldset>

<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let question of unit.questions; let i = index" [expanded]="i == latestQuestionIndex">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>{{i+1}}: {{ question.text }}</h2>
        <img *ngIf="question.imgSrc" [src]="question.imgSrc" [alt]="question.text">
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="expansion-panel-content">
      <div class="question">
        <div class="text-button-panel">
          <h4>Text</h4>
          <button mat-icon-button [matTooltip]="'Text für alle Fragen übernehmen'" [matTooltipPosition]="'above'"
                  (click)="setQuestionTextForAll(questionText.value)">
            <mat-icon>copy_all</mat-icon>
          </button>
        </div>
        <div class="question-content">
          <mat-form-field>
            <mat-label>Frage</mat-label>
            <input matInput #questionText [(ngModel)]="question.text" (change)="unitService.updateUnitDef()">
          </mat-form-field>
          <button mat-fab class="question-delete-button" color="warn" [matTooltip]="'Frage löschen'"
                  (click)="deleteQuestion(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <h4>Bild</h4>
        <div class="image-panel">
          <div class="image-panel-buttons">
            <button mat-icon-button [matTooltip]="'Bild hinzufügen'" (click)="imageUpload.click();">
              <mat-icon>image</mat-icon>
            </button>
            <input type="file" hidden accept="image/*"
                   #imageUpload id="button-image-upload"
                   (change)="loadImage(i, $event.target)">
            <button *ngIf="question.imgSrc" mat-icon-button [matTooltip]="'Bild entfernen'"
                    (click)="removeImage(i);">
              <mat-icon>backspace</mat-icon>
            </button>
          </div>
          <img *ngIf="question.imgSrc" [src]="question.imgSrc" [alt]="question.text">
        </div>
      </div>

      <div class="text-button-panel">
        <h3>Antworten</h3>
        <button mat-icon-button [matTooltip]="'Antworten für alle Fragen übernehmen'" [matTooltipPosition]="'above'"
                (click)="setAnswersForAll(unit.questions[i].answers)">
          <mat-icon>copy_all</mat-icon>
        </button>
      </div>
      <div *ngFor="let answer of question.answers; let j = index" class="inner answer">
        <mat-form-field>
          <mat-label>Antwort {{ j + 1 }}</mat-label>
          <input matInput [value]="answer" (change)="changeAnswerText(i, j, $event.target)">
        </mat-form-field>
        <button mat-icon-button color="warn" [matTooltip]="'Antwort löschen'" (click)="deleteAnswer(i, j)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button mat-raised-button (click)="addAnswer(i)" [matTooltip]="'Antwort hinzu'" class="add-button">
        Neue Antwort
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button (click)="addQuestion()" [matTooltip]="'Frage hinzu'" class="add-button">
  Neue Frage
  <mat-icon>add</mat-icon>
</button>
